<ion-header>
  <ion-navbar color="primary">
   <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    cryptoCoin
  </ion-title>
  <ion-buttons end>
    <button ion-button icon-only (click)="addHolding()"><ion-icon name="add"></ion-icon></button>
  </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content>

  <div class="message" *ngIf="!holdingsProvider.holdings.length">

    <p><strong>CryptoCoin</strong>É uma aplicação que permite você acompanhar o valor das suas favoritas criptomoedas.</p> 

    <p>Não precisa de conta, Basta apenas clicar no botão abaixo para começar a acompanhar o preço da moeda que desejar!</p>

    <button ion-button full (click)="addHolding()" color="primary">Adicione CriptoMoedas</button>

  </div>

  <ion-refresher *ngIf="holdingsProvider.holdings.length" (ionRefresh)="refreshPrices($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list no-lines>

    <ion-item-sliding *ngFor="let holding of holdingsProvider.holdings">

      <ion-item class="holding" (click)="historicoPage(holdingsProvider.holdings)">
        <ion-grid>
          <ion-row>
            <ion-col col-2>
              <img src="assets/imgs/cryptocurrency-icons-master/32/color/{{holding.crypto|lowercase}}.png">
            </ion-col>
            <ion-col col-10>
              <p><strong>{{holding.crypto}}/{{holding.currency}}</strong></p>
              <p class="amount"><strong>Coins:</strong> {{holding.amount| currency:'BRL'}} <strong>Value:</strong> {{holding.value| currency:'BRL'}}</p>
              <p *ngIf="holding.value > 0" class="value">{{(holding.amount * holding.value)| currency:'BRL'}}</p>
            </ion-col>           
          </ion-row>
        </ion-grid>



      </ion-item>

      <ion-item-options>
        <button ion-button icon-only color="danger" (click)="holdingsProvider.removeHolding(holding)"><ion-icon name="trash"></ion-icon></button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>

<ion-footer padding>

</ion-footer>